{% extends 'baseDesing.html'%}

{% block content %}
    <h1>Detalles publicación</h1>

    <h1>{{post.titulo}}</h1>
    {% if post.imagen %}
        <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" width="200">
    {% endif %}
    <p>Precio: ${{post.articulo.precio}}</p>
    <p>Cant: {{post.articulo.cantidad}}</p>
    <p>Vendedor: {{post.idUsuario.username}}</p>
    <a href="{% url 'sendMessage' post.id %}" class="btn">Enviar mensaje</a>
    <p>Detalles: {{post.descripcion}}</p>

{% endblock %}

{% block scripts %}
{% endblock %}