{% extends 'baseDesing.html' %}

{% block content %}
<h1>Publicaciones</h1>

<ul>
    {% for p in posts %}
        <li>
            <a href="#">
                {% if p.imagen %}
                    <img src="{{ p.imagen.url }}" alt="{{ p.titulo }}" width="200">
                {% endif %}
                
                <h2>{{ p.titulo }}</h2>                
                {% if p.articulo %}
                    <p>${{ p.articulo.precio }}</p>
                {% endif %}
            </a>
        </li>
    {% empty %}
        <li>No hay publicaciones disponibles.</li>
    {% endfor %}
</ul>
{% endblock %}


{% block scripts %}
{% endblock %}